<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  <title>Team 6 - Project 3</title>
</head>

<body>
  <div class="container">
    <nav class="navbar fixed-top navbar-dark bg-primary">
        <a class="navbar-brand" href="#">Fighting Mongooses</a>
    </nav>
  </div>

  <div class="container text-center">
    <div class="jumbotron">
      <h1 class="display-5">Airline Industry Key Players Analysis</h1>
      <h6>Andrew Josephson, Dipika Kumar, Heloisa Walsh, Ivan Escalona-Faria, Jae Lee</h6>
      <hr class="my-4"></hr>
      <h6>Airline Key Players Analysis</h6>
      <p>American Airlines, Delta, and Southwest are the world's three largest airlines in terms of <a href =https://www.worldatlas.com/articles/the-world-s-largest-airlines-by-passengers-carried.html>number of passengers carried</a>
        .  YOY since 2005, their revenues have steadily increased. Most recently, American Airlines' revenue just surpassed Delta's and quarterly earnings show that they 
        continue to outperform.  This dashboard presents a deeper dive into financial trends and analytics on domestic routes (within the US) for each of the airlines to identify
        areas of opportunity against competitors.
      </p>
    </div>
  </div>

  <h3>Route Count & Financials</h3>
  <hr></hr>

  <div class="row">
    <div class="col">
        <div class="card">
          <div id='bar'></div>
        </div>
    </div>
    <div class="col">
        <div class="card">
          <div id='revenue'></div>
        </div>
    </div>
    <div class="col">
        <div class="card">
          <div id='quarter'></div>
        </div>
    </div>
  </div>


  <div class="container" id="sankeyBox">
    <h3>Sankey: Top 20 Destinations by Airline</h3>
    <hr></hr>
    <div id='sankey'></div>
  </div>


  <div class="container" id='leafBox'>
    <h3>Routes by Airline</h3>
    <hr></hr>
    <div id='leaflet'></div>
  </div>


<!-- D3-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.5.0/d3.min.js"></script>
<!-- Leaflet CSS & JS -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
crossorigin=""></script>
<!-- Leaflet Curve -->
<script src="leaflet.js"></script>
<script src="leaflet.curve.js"></script>
<!-- CSS-->
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<!--Plotly-->
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<!-- Anychart-->
<script src="https://cdn.anychart.com/releases/v8/js/anychart-core.min.js"></script>
<script src="https://cdn.anychart.com/releases/v8/js/anychart-sankey.min.js"></script>
<!-- Apex Chart -->
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script src="https://cdn.jsdelivr.net/npm/react-apexcharts"></script>
<!-- JS -->
<script type="text/javascript" src="{{ url_for('static', filename='js/basic.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/apex.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/sankey.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/leaflet.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/config.js') }}"></script>

</body>
</html>