<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  <title>Team 6 - Project 3</title>
</head>

<body>
  <div class="container">
    <nav class="navbar fixed-top navbar-dark bg-primary">
        <a class="navbar-brand" href="#">Fighting Mongooses</a>
    </nav>
  </div>

  <div class="container text-center">
    <div class="jumbotron">
      <h1 class="display-5">Airline Industry Key Players Analysis</h1>
      <h6>Andrew Josephson, Dipika Kumar, Heloisa Walsh, Ivan Escalona-Faria, Jae Lee</h6>
      <hr class="my-4"></hr>
      <h6>Airline Key Players Analysis</h6>
      <p>American Airlines, Delta, and Southwest have a considerable share of the market.  YOY since 2005, their revenues have steadily increased. 
        etc. etc. etc.</p>
    </div>
  </div>

  <div class="row">
    <div class="col">
        <div class="card">
          <div id='bar'></div>
        </div>
    </div>
    <div class="col">
        <div class="card">
          <div id='revenue'></div>
        </div>
    </div>
    <div class="col">
        <div class="card">
          <div id='quarter'></div>
        </div>
    </div>
  </div>


  <div class="container" id="sankeyBox">
    <div clas="row">
      <div id='sankey'></div>
    </div>
  </div>



<!-- D3-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.5.0/d3.min.js"></script>
<!-- CSS-->
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<!--Plotly-->
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<!-- Anychart-->
<script src="https://cdn.anychart.com/releases/v8/js/anychart-core.min.js"></script>
<script src="https://cdn.anychart.com/releases/v8/js/anychart-sankey.min.js"></script>
<!-- Apex Chart -->
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script src="https://cdn.jsdelivr.net/npm/react-apexcharts"></script>
<!-- JS -->
<script type="text/javascript" src="{{ url_for('static', filename='js/basic.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/testSankey.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/apex.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/sankey.js') }}"></script>

</body>
</html>